@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 120vh;
    background-image: linear-gradient(120deg, #842163, #EA4600, #F38963, #AED1CC);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
}
.container {
    width: 70%;
    background-color: #ffff;
    margin: 0 auto 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8% 0;
}
.logo img {
    width: 80px;
}
.nav {
    display: inline-flex;
    align-items: center;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #000;
}
.nav-items {
    display: flex;
    gap: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.icons {
    display: flex;
    gap: 20px;
}
.lock img {
    border-radius: 50%;
    padding: 5px;
    background-color: #000;
}
.menu {
    display: none;
}
    /* End of header */

    /* hero */
.hero {
    padding: 0 13%;
}
.hero .hero-text { 
    position: relative;
}
.hero .hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
}
.hero .hero-text .circle {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #e4af65, #f9decd);
    position: absolute;
    top: 60px;
    left: 250px;
    z-index: 1;
}
/* end of nike air */

.hero .section1 {
    display: flex;
    align-items: center;
    z-index: 3;
}
.hero .circle-left {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #842163, #EA4600, #e4af65, #AED1CC);
    position: relative;
    left: 50px;
    top: 40px;
    overflow: hidden;
}
.circle-text {
    text-align: center;
    
}
.round-circle {
    margin-top: -10px;
}
.cured-text {
    font-size: .5rem;
    fill: #ffff;
    letter-spacing: .08rem;
}
#curve {
    fill: transparent;
}
.black-nike {
    position: relative;
    z-index: 3;
}
.black-nike img {
    transform: rotate(-35deg);
    margin-top: -200px;
}
.circle-text p {
    background-color: black;
    color: white;
    font-size: .5rem;
    width: 57%;
    margin: 17px auto 0;
    padding: 10px;
    border-radius: 50% 50% 0 0;
}
.nike-note {
    margin-top: 100px;
}
.border1 {
    border-left: 3px solid black;
    padding-left: 3px;
}
.border2 {
    border-left: 2px solid black;
    padding-left: 3px;
}
.border3 {
    border-left: 1px solid black;
    padding-left: 8px;
    line-height: 2;
}
/* footer */
hr {
    border: 1px solid black;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}
.foot {
    margin-left: 20px;
    display: flex;
}
.side {
    width: 25%;
    position: relative;
    z-index: 2;
}
.side .box {
    width: 80px;
    height: 80px;
    margin: auto;
}
.side h4, .price {
    text-align: center;
}
.side h4 {
    padding-bottom: 10px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px 0;
}
.foot .box img {
    width: 100%;
}
.side1 {
    border-radius: 50% 50% 0 0;
    margin-top: -30px;
    background-color: #FFEED4;
    margin-bottom: 10px;
}
.side2 {
    border-radius: 50% 50% 0 0;
    margin-top: 30px;
    background-color: #FFDCCD;
}
.middle {
    padding: 30px 70px 0;
    text-align: center;
}
.middle h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}
.middle p {
    font-size: .8rem;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.middle button {
    padding: 5px 20px;
    font-size: .7rem;
    border-radius: 30px;
    background-color: #000;
    color: white;
}

@media(max-width: 1500px) {
    .hero .circle-left {
        width: 30%;
        height: 30%;
    }
    .cured-text {
        font-size: .2rem;
        letter-spacing: rem;
    }
    .side {
        width: 40%;
    }
}

@media(max-width: 1270px) {
    .hero .hero-text h1 {
        font-size: 8rem;
    }
    .price {
        gap: 10px;
    }
}

@media(max-width: 1190px) {
    body {
        height: 135vh;
    }
    .nav-items {
        gap: 30px;
    }
    .icons {
        gap: 10px;
    }
    .hero .hero-text h1 { 
        font-size: 7rem;
        padding-top: 7%;
    }
    .hero .circle-left, 
    .nike-note,
    .lock-foot {
        display: none;
    }
    .black-nike img {
        margin-top: 0;
    }
    .side {
        width: 50%;
    }
    .side h4 {
        padding: 0 5px 10px;
        font-size: .9rem;
    }
    .price > div:first-of-type {
        margin: auto;
    }
    .middle {
        padding: 20px 50px 0;
    }
}

@media(max-width: 900px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 8% 0;
    }
    .menu {
        display: revert;
    }
    .logo img {
        width: 80px;
    }
    .nav-items {
        display: none;
    }
    .hero .hero-text h1 {  
        font-size: 5rem;
    }
    .side {
        width: 60%;
    }
    .foot .box img {
        width: 60%;
        margin: 15% 0 0 20%;
    }
    .middle {
        padding: 30px 10px 0;
    }
    .middle p {
        font-size: .6rem;
    }
    .middle button {
        padding: 5px 20px;
        font-size: .5rem;
        border-radius: 30px;
        background-color: #000;
        color: white;
    }
}

/* mobile */
@media(max-width: 700px) {
    body {
        padding-top: 35px;
        height: 120vh;
    }
    .container {
        margin: 0 auto 5px;
    }
    .header {
        padding: 5% 5% 0;
    }
    .menu {
        display: revert;
        width: 50px;
    }
    .logo img {
        width: 60px;
    }
    .icons {
        display: none;
    }
    /* end of header */

     /* hero */
    .hero {
        padding: 0 8%;
    }
    .hero .hero-text h1 {
        font-size: 5rem;
        padding-top: 8%;
    }
    /* end of nike air */

    .black-nike {
        position: relative;
        z-index: 3;
    }
    .black-nike img {
        transform: rotate(-35deg);
        width: 90%;
    }
    /* footer */
    hr,  
    .side {
       display: none;
    }
    .foot {
        margin-left: 10px;
    }
    .middle {
        padding: 0;
    }
    .middle h2 {
        font-size: 1.5rem;
        padding: 20px 0 10px;
    }
    .middle p {
        font-size: 1rem;
        padding-bottom: 15px;
    }
    .middle button {
        padding: 5px 20px;
        margin-bottom: 20px;
    }

}